<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

</body>
      <h1>Sensor settings</h1>
      <h2>The sensor ran at last at {{ timestamp }} </h2>

   </body>
      <h1>Thuis temperature</h1>
      <h2>The current temperature in our house is {{ temp_home }} degree celcius</h2>

   </body>
      <h1>Thuis humidity</h1>
      <h2>The current humidity in our house is {{ lucht_home }}</h2>

   <body>
      <h1>Raspberry-pi temperature</h1>
      <h2>The current temperature of the raspberry pi is {{ temp_pi }} degree celcius</h2>
</html>
