<!DOCTYPE html>
<head>
      <title> Raspberry Pi - Sensor data </title>
      <link rel="stylesheet" href='../static/style.css'/>
</head>
   <body>
	<center>
	<h1> BWO 18 - Temperatuur en Luchtvochtigheid (rel.) meter</h1>
	</center>
	<hr>
	<center>
	<img src="/static/thermostat.jpeg" class="inline" width="70%"/>		
	</center>
	<hr>	  	
	<p style="font-size:14px"> Huidige temperatuur   ==>  {{ temp_home  }} oC </p>
	<p style="font-size:14px"> Huidige Luchtvochtigheid (Rel.) ==>  {{ lucht_home  }} %</p>
	<hr>
	<p style="font-size:14px"> Laatste meetmoment: {{ timestamp }} ==> <a href="/"class="button">REFRESH</a></p>
	<hr>
	<div id="Algeem">
		<center>
		<h3 style="font-size:25px"> Weekbeeld van temperatuur (blauw) en Luchtvochtigheid (oranje):</h3>
		<img src="/temp" class="inline" alt='Image of temperatur en Luchtvochtigheid' width="75%"/>		
		</center>
	</div>
	<div id="Detail">
		<center>
		<h3 style="font-size:25px"> 24-uursbeeld van temperatuurverloop: </h3>
		<img src="/hum" alt="Image of temperature", class="inline" width="75%"/>	
		</center>
	</div>
   </body>
</html>
